<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <title>JavaMyAdmin</title>
</head>
<body>
<div class="am-container">
    <div class="am-text-center am-margin-top-lg">
        <img src="assets/images/logo_right.png"/>
    </div>
</div>
<div class="am-container">
    <h2>
        <div class="am-text-center am-margin-top-sm">
            Welcome to javaMyAdmin
        </div>
    </h2>
</div>
<hr class="am-margin-0" />
<div class="am-container am-margin-top-lg">
    <div class="am-g">
        <div class="am-u-sm-5 am-u-sm-centered">
            <p class="am-text-danger am-text-sm am-text-center" th:text="${error}"></p>
            <form class="am-form am-form-horizontal" action="/do-login" method="post">
                <div class="am-form-group">
                    <label for="doc-ipt-1" class="am-u-sm-3 am-form-label">Host</label>
                    <div class="am-u-sm-9 am-u-end">
                        <input type="text" id="doc-ipt-1" placeholder="输入 Host 地址" value="127.0.0.1" name="host">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="doc-ipt-2" class="am-u-sm-3 am-form-label">Username</label>
                    <div class="am-u-sm-9 am-u-end">
                        <input type="text" id="doc-ipt-2" placeholder="输入 Username" name="username">
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Password</label>
                    <div class="am-u-sm-9 am-u-end">
                        <input type="password" id="doc-ipt-3" placeholder="输入 Password" name="password">
                    </div>
                </div>
                <button type="submit" class="am-btn am-btn-primary am-radius am-btn-block">>>&nbsp;Login&nbsp;<<</button>
            </form>
        </div>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>